{% extends "account_base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="col-12 text-center">
         <h4 class="m-t-0 header-title"> </h4>
    </div>
</div>
<form class="login m-t-20" method="POST" action="{% url 'account_login' %}" onsubmit="saveButton.disabled = true; return true;">
  {% csrf_token %}
    <div class="form-group">
        {{form.login}}
    </div><!-- form-group -->
    <div class="form-group">
        {{form.password}}
    </div><!-- form-group -->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group text-center row m-t-10">
      <div class="col-12">
          <button class="btn btn-primary btn-block waves-effect waves-light" type="submit" name="saveButton">Login</button>
      </div>
  </div>
  <!--
  <div class="form-group row m-t-30 mb-0">
      <div class="col-12">
          <a href="{% url 'account_reset_password' %}" class="text-muted secondaryAction"><i class="fa fa-lock m-r-5"></i> Esqueceu a senha?</a>
      </div>
  </div>
-->
</form>

{% endblock %}

