{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}
{% block breadcrumb %}
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <ol class="breadcrumb float-left">
                <li class="breadcrumb-item"><a href="#"> Dashboard </a></li>
                <li class="breadcrumb-item"><a href="{% url 'lista_cadastro' %}"> Cadastros </a></li>
                <li class="breadcrumb-item active"> Detalhe de {{object.nome}} </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
<!-- end row -->

{% block content %}

<div class="row">
    <div class="col-xl-12">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active bb0" href="#home" aria-controls="home" role="tab" data-toggle="tab">
                    <em class="fa fa-user"></em> Cadastro do Paciente</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link bb0" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                    <em class="fa fa-file"></em> Cadastro do Diagnóstico</a>
            </li>
        </ul>
        <div class="card-box table-responsive">
       <h4 class="m-t-0 header-title"> Cadastro </h4>
            <div class="tab-content p-0 bg-white">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <form class="" method="POST" action="" enctype="multipart/form-data" onsubmit="saveButton.disabled = true; return true;">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-8">
                                {{ form.nome|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.rh|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.data_nascimento|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.data_diagnostico|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.telefone|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.diabetes|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.diagnostico|as_crispy_field }}
                            </div>
                        </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                        <div class="form-group row">
                            <div class="col-3">
                                {{ form.macroangiopatia|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.microangiopatia|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.medicacao|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.nefropatia|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.neuropatia|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.comorbidades|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.eventos|as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.ano|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.obs|as_crispy_field }}
                            </div>
                        </div>
                        <a onclick="history.back()" class="btn btn-primary btn-sm waves-effect waves-light dashboard-letter secondaryAction"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>Voltar</button></a>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#id_nome").prop("disabled", true);
        $("#id_rh").prop("disabled", true);
        $("#id_data_nascimento").prop("disabled", true);
        $("#id_data_diagnostico").prop("disabled", true);
        $("#id_telefone").prop("disabled", true);
        $("#id_diabetes").prop("disabled", true);
        $("#id_diagnostico").prop("disabled", true);
        $("#id_macroangiopatia").prop("disabled", true);
        $("#id_microangiopatia").prop("disabled", true);
        $("#id_nefropatia").prop("disabled", true);
        $("#id_neuropatia").prop("disabled", true);
        $("#id_medicacao").prop("disabled", true);
        $("#id_comorbidades").prop("disabled", true);
        $("#id_eventos").prop("disabled", true);
        $("#id_ano").prop("disabled", true);
        $("#id_obs").prop("disabled", true);
    });
</script>

{% endblock scripts %}
