{% load static i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        {% block css %}

        <!-- App title -->
        <title>PPD</title>

        <!-- Bootstrap CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- App CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

        <!-- Modernizr js -->
        <script src="{% static 'js/modernizr.min.js' %}"></script>
       {% endblock %}

    </head>


    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">

         {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
              {% endfor %}
          {% endif %}

            <div class="account-bg">
                    <div class="text-center m-t-20">
<!--
                        <a href="/" class="logo">
                            <img src="" width="170px" align="center">
                        </a>
-->
                    </div>
                    <div class="m-t-10 p-20">
                      {% block content %}
                        <p>Templates</p>
                      {% endblock content %}
                    </div>
                    <div align="center">
                        <p>&copy; 2019 PPD </br> Powered by <a href="https://www.wcore.com.br"> WCORE Tecnologia. </a></p>
                </div>
            </div>
            <!-- end card-box-->
        </div>
        <!-- end wrapper page -->


    
        {% block javascript %}

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script><!-- Tether for Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/detect.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>

        <!--Morris Chart-->
        <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
        <script src="{% static 'plugins/raphael/raphael-min.js' %}"></script>

        <!-- Counter Up  -->
        <script src="{% static 'plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>

        <!-- Page specific js -->
        <script src="{% static 'pages/jquery.dashboard.js' %}"></script>
        {% endblock javascript %}

    </body>
</html>