{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}
{% block breadcrumb %}
<div class="row">
    <div class="col-xl-12">
        <div class="page-title-box">
            <ol class="breadcrumb float-left">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="">Cadastros</a></li>
                <li class="breadcrumb-item active">Excluir {{ object.nome }} </li>
            </ol>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
<!-- end row -->

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
           <h4 class="m-t-0 header-title"> Deletar </h4>
          <p class="text-muted font-14 m-b-30"></p>
        <form class="" method="POST" action="" onsubmit="saveButton.disabled = true; return true;">
          {% csrf_token %}
            <div class="form-group row">
                <div class="col-12">
                  Você tem certeza que deseja excluir "{{ object.nome }}" ?
                </div>
            </div>
          <div class="form-group text-left row m-t-10">
              <div class="col-12">
                <button class="primaryAction btn btn-sm btn-danger waves-effect waves-light"><span class="btn-label"><i class="fa fa-times"></i></span>Excluir</button>
                <a onclick="history.back()" class="btn btn-primary btn-sm waves-effect waves-light dashboard-letter secondaryAction"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>Voltar</button></a>
              </div>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}

