{% extends "base.html" %}
{% load static i18n %}
{% block content %}

<div class="card-box">
<h4 class="header-title m-t-0 m-b-30">Dashboard</h4>
    <div class="row">
        <div class="col-4">
            <div class="card-box tilebox-one label-primary">
                <i class="icon-chart float-right text-muted dashboard-letter"></i>
                <h6 class="text-muted text-uppercase m-b-20 dashboard-letter"><a class="dashboard-letter" href="{% url 'lista_cadastro' %}">Total de Cadastros</a></h6>
                <h2 class="m-b-20 dashboard-letter" data-plugin="counterup">{{cadastros}}</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}